<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jessie.campusmutualassist.mapper.SigninSignedMapper">

    <resultMap id="BaseResultMap" type="com.jessie.campusmutualassist.entity.SigninSigned">
            <id property="signID" column="signID" jdbcType="INTEGER"/>
            <result property="signed" column="signed" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        signID,signed
    </sql>
</mapper>
