<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jessie.campusmutualassist.mapper.TeachingClassMapper">
    <select id="getSimpleStuList" resultType="com.jessie.campusmutualassist.entity.SimpleStu" parameterType="java.lang.String">
        select u.username, u.realName, sp.points
        from user u
                 join student_points sp on u.username = sp.username
                 join stu_selection ss on u.username = ss.stuName
        where ss.classID = #{classID}
    </select>
</mapper>